<ion-view view-title="YAAY or NAAY?" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-gear-outline"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader page-categories">
    YAAYs this week still 12 hours 21 seconds
  </div>
  <ion-content class="page page-categories has-subheader">
    <ul class="photo-list is-category">
      <li class="photo-list-item" ng-repeat="item in categories" ng-click="showPictures(item.id)">
        <div class="image" style="background-image: url({{item.image}});"></div>
        <div class="gradient-bottom {{item.color}}"></div>
        <div class="rank-circle">
          <div class="rank-circle-inner">50x<cup type="item.cup" fill="1"></cup>5,000</div>
        </div>
        <div class="text-wrapper">
          <div class="title">{{item.name}}</div>
          <div class="numbers">
            <span>21 Followers</span>
            <span>9 Local</span>
          </div>
        </div><!-- .text-wrapper -->
      </li>
    </ul><!-- photo-list-->
  </ion-content>
  <ion-footer-bar class="page-categories">
    <div class="left-area">
      <cup type="'bronze'" fill="0.9"></cup>
      YAAYs: <span>8,032</span>
    </div>
    <button class="camera-button">
      <input type="file" id="profile_photo_r" onchange="onCategoryPhotoSelected(this)" accept="image/*">
      <i class="icon ion-ios-camera-outline"></i>
    </button>
    <div class="right-area">
      Followers: <span>1,032</span>
    </div>
  </ion-footer-bar>
</ion-view>
