<ion-view view-title="Forgot Password" hide-nav-bar="true">
  <ion-content class="page page-forgot-password">
    <a href="#/login" class="back-link"><i class="icon ion-ios-arrow-thin-left"></i></a>
    
    <h2>YAAY or NAAY?</h2>
    
    <div class="description">
      Forgot Password
      <em>To reset your password, we will send you a code by e-mail</em>
    </div>
    
    <form>
      <div class="list list-inset form-skin1">
        <label class="item item-input with-placeholder-icon">
          <i class="icon ion-ios-email-outline placeholder-icon"></i>
          <input type="text" placeholder="Email Address">
        </label>
        <a class="button button-transparent" href="#/forgot-password-code">Get Code</a>
        <div class="item item-error">
          THIS IS AN example of an error MESSAGE*
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
