<ion-view view-title="Forgot Password" hide-nav-bar="true">
  <ion-content class="page page-forgot-password-code">
    <a href="#/forgot-password" class="back-link"><i class="icon ion-ios-arrow-thin-left"></i></a>
    
    <h2>YAAY or NAAY?</h2>
    
    <div class="description">
      Forgot Password
      <em>Please check your e-mails and set your new password!</em>
    </div>
    
    <form>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Code we sent by e-mail">
        </label>
        
        <div class="padding-line"></div>
        
        <label class="item item-input">
          <input type="password" placeholder="New Password">
        </label>
        <a class="button button-transparent" href="#/forgot-password-code">Change Password</a>
        <div class="item item-error">
          THIS IS AN example of an error MESSAGE*
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
