<ion-view view-title="" hide-nav-bar="true">
  <ion-content class="page page-login">
    <a href="#/start" class="back-link"><i class="icon ion-ios-arrow-thin-left"></i></a>
    
    <h2>YAAY or NAAY?</h2>
    
    <div class="description">
      Register / Login with E-Mail
    </div>
    
    <form>
      <div class="list list-inset form-skin1">
        <label class="item item-input with-placeholder-icon">
          <i class="icon ion-ios-email-outline placeholder-icon"></i>
          <input type="text" placeholder="Email Address">
        </label>
        <label class="item item-input with-placeholder-icon">
          <i class="icon ion-ios-locked-outline placeholder-icon"></i>
          <input type="text" placeholder="New/Existing Password">
        </label>
        <div class="item item-error">
          THIS IS AN example of an error MESSAGE*
        </div>
      </div>
    </form>
    
    <a class="button button-transparent" href="#/complete-profile">Register / Login</a>
    <div class="forgot-password">
      <a href="#/forgot-password">Forgot Password?</a>
    </div>
    
    <div class="login-tip">
      By logging in you confirm you have read and agree <a href="#/toc">Terms and Conditions</a> & <a href="#/privacy">Privacy Policy</a>
    </div>
  </ion-content>
</ion-view>
