<ion-view view-title="Privacy">

  <ion-content class="page page-privacy" >
    <p>
      Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Etiam tempor ligula vitae ante
      gravida semper. Maecenas ac leo leo. Mauris
      eleifend, erat sit amet posuere blandit, nunc odio
      interdum libero, non finibus diam elit eget leo.
      Aenean faucibus tincidunt ultrices. Sed eget mi
      massa.
    </p>

    <p>
      Nam varius orci nec metus tincidunt, sit
      amet dignissim turpits commodo. Phasellus id
      finibus erat. Ut eget accumsan leo, quis ultricies
      arcu. Donec ante dolor, consectetur vitae
      fermentum non, dapibus non ex. 
    </p>

    <p>
      Nunc tincidunt placerat arcu, non ornare mauris
      posuere in. Ut in commodo dui, condimentum
      ullamcorper ipsum. Quisque pellentesque blandit
      enim, non maximus
      massa faucibus in. Proin non aliquam augue.
  </p>
  </ion-content>
</ion-view>
