<ion-view view-title="Settings" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="goBack()"></button>
  </ion-nav-buttons>

  <ion-content class="page page-settings">
    
    <div class="info">
      <img src="img/avatars/1.jpg" class="circle profile-pic">
      <div class="user-name">Max</div>
      <a class="change-profile" href="#/change-profile"><i class="fa fa-pencil"></i> Change profile</a>
    </div>
    
    <div class="list">
      <a class="item item-icon-left" href="#/introduction">
        <i class="icon ion-ios-book-outline"></i>
        Introduction
        <p>This is how YAAY or NAAY? works</p>
      </a>
      <a class="item item-icon-left" href="#/settings-legal">
        <i class="icon ion-ios-gear-outline"></i>
        Legal/Logout
        <p>Privacy Policy, TOC, Logout</p>
      </a>
      <a class="item item-icon-left" href="mailto: support@yaahornaah.com">
        <i class="icon ion-ios-email-outline"></i>
        Contact YAAY or NAAY
        <p>Tell us what you think!</p>
      </a>
      <a class="item item-icon-left" href="#/settings-recommend">
        <i class="icon ion-ios-chatbubble-outline"></i>
        Recommend YAAY or NAAY
        <p>Tell others and get extra YAAYs!</p>
      </a>
    </div>
  </ion-content>
</ion-view>
