<ion-view view-title="Legal/Logout">

  <ion-content class="page page-settings-legal" scroll="false">
    
    <div class="list top">
      <a class="item item-icon-left item-icon-right" href="#/privacy">
        <i class="icon ion-ios-locked-outline"></i>
        Privacy policy
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#/toc">
        <i class="icon ion-ios-list-outline"></i>
        Terms and Conditions
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item" href="mailto: support@yaahornaah.com">
        Do you need help? Contact us!
      </a>
    </div>
    
    <div class="version-info">
      <div class="inner">
        <img src="img/logo_with_text_black.png">
        <span>Version 4.1.3</span>
      </div>
    </div>
    
    <div class="list bottom">
      <a class="item">Logout</a>
      <a class="item">Delete Profile</a>
    </div>
  </ion-content>
</ion-view>
