<ion-view view-title="Legal/Logout">

  <ion-content class="page page-settings-recommend">
    
    <textarea class="share-textbox">Here's the link to the Apple Store: XXX and to the Google Play Store: XXX.</textarea>
    
    <div class="shares clearfix">
      <a class="circle whatsapp">
        <i class="icon ion-social-whatsapp-outline"></i>
      </a>
      <a class="circle sms">
        SMS
      </a>
    </div>
    
    <img src="img/logo_with_text_black.png" class="logo">
    
    
  </ion-content>
</ion-view>
