<ion-view view-title="Upload" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-ios-close-outline" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader page-upload-categories">
    Please choose the category you want to upload your pic(s) and ask for YAAYs:
  </div>
  <ion-content class="page page-upload-categories has-subheader">
    <ul class="photo-list is-category">
      <li class="photo-list-item" ng-repeat="item in categories" ng-click="selectCategory(item)">
        <div class="image" style="background-image: url({{item.image}});"></div>
        <div class="gradient-bottom {{item.color}}"></div>
        <div class="rank-circle">
          <div class="rank-circle-inner">50x<cup type="item.cup" fill="1"></cup>5,000</div>
        </div>
        <div class="text-wrapper">
          <div class="title">{{item.name}}</div>
          <div class="numbers">
            <span>21 Followers</span>
            <span>9 Local</span>
          </div>
        </div><!-- .text-wrapper -->
      </li>
    </ul><!-- photo-list-->
  </ion-content>
</ion-view>
