@import "global/loader";
@import "global/fonts";
@import "global/variables";
@import "global/mixins";

body{
  color: $my-app-textcolor;
  font-size: 18px;
  @include iphone6-and-lower{
    font-size: 16px;
  }
  @include iphone5-and-lower{
    font-size: 14px;
  }
  *{
    font-family: 'OpenSans-Regular', sans-serif;
    b, strong, h1, h2, h3, th{
      font-family: 'OpenSans-Bold';
    }
  }
  a{
    text-decoration: none;
    color: $my-app-textcolor;
  }
  form {
    text-align: center;
  }
}

.clear{
  clear: both;
}

ng-form {
  display: block;
}

.page{
  background-color: $my-app-backcolor;
}

.circle {
  border-radius: 50%;
}


@import "partials/navbar";
@import "partials/sidemenu";
@import "partials/forms";
@import "partials/buttons";
@import "partials/cup";
@import "partials/photo_list";
@import "partials/capture_modal";
@import "partials/full_picture_modal";

@import "pages/login_register";
@import "pages/introduction";
@import "pages/categories";
@import "pages/upload_categories";
@import "pages/cards";
@import "pages/profile";