@mixin category-gradient-linear($color) {
  background: -webkit-linear-gradient(transparent, $color); /* Safari 5.1 to 6.0 */
  background: linear-gradient(transparent, $color); /* Standard syntax */
}

@mixin vertical-gradient($top, $bottom){
    background: -webkit-linear-gradient(bottom, $bottom, $top);
    background: -o-linear-gradient(top, $bottom, $top);
    background: -moz-linear-gradient(top, $bottom, $top);
    background: linear-gradient(to top, $bottom, $top);
}

@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}

@mixin pad {
  @media only screen and (min-width: 768px){
    @content;
  }
}

@mixin phone {
  @media only screen and (max-width: 767px){
    @content;
  }
}

@mixin iphone5-and-lower {
  @media only screen and (max-width: 320px){
    @content;
  }
}

@mixin iphone4-and-lower {
  @media only screen and (max-width: 320px) and (max-height: 480px){
    @content;
  }
}

@mixin iphone6-and-lower {
  @media only screen and (max-width: 375px){
    @content;
  }
}

@mixin iphone6p-and-lower {
  @media only screen and (max-width: 414px){
    @content;
  }
}

@mixin iphone6p-and-higher {
  @media only screen and (min-width: 414px){
    @content;
  }
}
