$my-app-backcolor:          #ffffff !default;
$my-app-textcolor:          #000000 !default;

$my-sidemenu-textcolor:     #ffffff !default;
$my-sidemenu-backcolor:     #444444 !default;

$category-gradient-grey-start: rgba(0, 0, 0, 0);
$category-gradient-grey-end: rgba(0, 0, 0, 0.9);

$category-gradient-pink-start: rgba(150, 122, 220, 0);
$category-gradient-pink-end: rgba(150, 122, 220, 0.9);

$category-gradient-blue-start: rgba(2, 144, 255, 0);
$category-gradient-blue-end: rgba(2, 144, 255, 0.9);