.list.form-skin1{
  margin: 0px;
  background-color: transparent;
  .item{
    *{
      color: #fff;
    }
    background-color: transparent;
    margin-bottom: 15px;
    &.item-error{
      border: none;
      padding: 0px;
      text-transform: uppercase;
      font-style: italic;
      font-size: 0.75em;
      letter-spacing: 1px;
      text-align: center;
      color: #f0e47c;
      line-height: 1;
      margin-top: 1px;
    }
    &.item-input{
      border: none;
      background-color: rgba(0, 0, 0, 0.3);
      height: 50px;
      padding: 0px 30px;
      position: relative;
      border-radius: 25px;
      font-size: 1em;
      input{
        height: 100%;
        font-size: 1.05em;
        padding: 0px 10px 0px 0px;
        line-height: 1;
        &::-webkit-input-placeholder {
          padding-top: 2px;
          color: #ac9d9e;
        }
      }
      .icon.checkmark{
        font-size: 2.5em;
        position: absolute;
        line-height: 50px;
        @include iphone5-and-lower{
          line-height: 40px;
        }
      }
      &.with-placeholder-icon{
        padding-right: 0px;
        padding-left: 60px;
        .placeholder-icon{
          position: absolute;
          left: 25px;
          top: 5px;
          font-size: 25px;
          &.ion-ios-email-outline{
            font-size: 27px;
            left: 22px;
            top: 4px;
          }
        }
        @include iphone5-and-lower{
          padding-left: 45px;
          .placeholder-icon{
            left: 17px;
            top: 4px;
            font-size: 20px;
            &.ion-ios-email-outline{
              font-size: 22px;
              left: 16px;
              top: 3px;
            }
          }
        }
      }
      @include iphone5-and-lower{
        height: 40px;
        border-radius: 20px;
      }
    }
  }
}