.nav-bar-block{
  .bar.bar-stable{
    .button.button-icon{
      &:before{
        font-size: 28px;
      }
    }
    .button.back-button .back-text{
      display: none;
    }
    .title{
      font-size: 23px;
      font-family: 'OpenSans-Bold';
      color: #26292e;
    }
  }
}