.nav-bar-block{
  .bar.bar-stable{
    height: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    background-image: none!important;
    .button{
      line-height: 24px;
      min-height: 25px;
    }
    .button.button-icon{
      &:before{
        font-size: 25px;
      }
      &.ion-ios-close-empty:before{
        font-size: 37px;
      }
    }
    .button.back-button{
      .icon.ion-ios-arrow-thin-left:before{
/*        font-size: 35px;*/
      }
      .back-text{
        display: none;
      }
    } 
    .title{
      font-size: 1.3em;
      font-family: 'OpenSans-Bold';
      color: #26292e;
      line-height: 35px;
      height: 35px;
    }
  }
}
.has-header{
  top: 35px;
  &.has-subheader{
    top: 79px;
  }
}
.bar-subheader{
  top: 35px;
}