.page-cards{
  &.bar-subheader{
    text-align: center;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.page{
    bottom: 70px;
    @include iphone5-and-lower{
      bottom: 60px;
    }
    td-cards {
      display: block;
    }

    td-card {
      position: absolute;
      left: 50%;
      margin-top: 80px;
      margin-bottom: 40px;
      margin-left: -150px;
      width: 300px;
      height: 300px;

      border: 1px solid #999;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
    }

    td-card .image {
      position: relative;
    }

    td-card .img {
      max-width: 100%;
      border-radius: 0;
      /*opacity: 0;*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100%;
      height: 100%;
    }

    td-card {
      position: absolute;
      left: 50%;
      margin-top: 0;
      margin-left: -48.6%;
      width: 97%;
      border: 0;
      border-radius: 0;
      box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.32);
    }

    td-card.card-2 {
      margin-left: -48.6%;
      width: 97%;
      margin-top: 16px;

      /*      -webkit-transition: margin 0.1s, width 0.1s;
            transition: margin 0.1s, width 0.1s;*/
    }

    td-card.card-1 {
      margin-left: -46.2%;
      width: 92.2%;
      margin-top: 9px;
      /*transform: scale(0.5);*/
      /*display: none;*/
    }

    td-card.card-0 {
      margin-left: -43.6%;
      width: 87%;
      margin-top: 3px;
      box-shadow: none;
      /*display: none;*/
    }

    td-card, .td-card, td-card .image {
      height: 100%;
    }

    td-card .copyright {
      position: absolute;
      font-size: 9px;
      font-weight: 400;
      bottom: 21px;
      right: 10px;
      color: #ccc;
      white-space: nowrap;
    }

    td-card .info {
      position: absolute;
      top: 0;
      padding: 12px 7px 0 10px;
      width: 100%;
    }

    /*td-card.card-2 .info,
    td-card.card-2 .comment,
    td-card.card-2 .gradient {
      -webkit-transition: 0.1s opacity linear;
      transition: 0.1s opacity linear;
      opacity: 1;
    }*/

    td-card .info,
    td-card .comment,
    td-card .gradient {
      opacity: 1;
    }

    td-card .info{
      .avatar {
        border: 2px solid #ffffff;
        width: 42px;
        float: left;
      }
      img.avatar {
        opacity: 1;
      }
      .user-info {
        padding-left: 8px;
        float: left;
        color: #ffffff;
      }
      .name {
        font-size: 1.05em;
      }
      .counters {
        font-size: 0.68em;
        padding-top: 0.15em;
        white-space: nowrap;
        .space-right {
          padding-right: 5px;
        }
      }
      .follow-button {
        font-size: 0.85em;
        float: right;
        border-radius: 25px;
        color: #ffffff;
        padding: 9px 15px;
        height: auto;
        line-height: 1;
        letter-spacing: 0px;
        &.followed{
          background-color: #fff;
          color: #000;
        }
        &:active {
          opacity: 0.5;
        }
      }
    }


    td-card .comment {
      position: absolute;
      bottom: 3.25em;
      font-size: 1.15em;
      color: #ffffff;
      width: 100%;
      padding: 0 20px 0 20px;
      text-overflow: ellipsis;
      text-align: center;
      font-size: 1.2em;
    }

    td-card .gradient {
      position: absolute;
      width: 100%;
      height: 200px;
    }

    td-card .gradient-top {
      top: 0;
      @include vertical-gradient($category-gradient-grey-end, $category-gradient-grey-start);
      &.pink{
        @include vertical-gradient($category-gradient-pink-end, $category-gradient-pink-start);
      }
      &.blue{
        @include vertical-gradient($category-gradient-blue-end, $category-gradient-blue-start);
      }
    }

    td-card .gradient-bottom {
      bottom: 0px;
      width: 100%;
      height: 150px;

      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    }


    .arrow-left-black {
      background-image: url("../img/arrow_left_256_1e2126.png");
      background-size: contain;
      width: 1.05em;
      height: 1.05em;
      margin-left: 12px;
    }

    .arrow-left-black:active {
      opacity: 0.5;
    }

    .yes-text, .no-text {
      position: absolute;
      font-size: 2.05em;
      border-radius: 7px;
      font-weight: 600;
      opacity: 0;
      background: rgba(255, 255, 255, 0.5);
      white-space: nowrap;
      div {
        background-size: contain;
        width: 0.7em;
        height: 0.7em;
      }
    }

    .yes-text {
      top: 22%;
      right: 6%;
      color: #ff002d;
      padding: 16px 28px 16px 27px;
      border: 3px solid #ff002d;
      transform: rotate(4deg);
      div {
        background-image: url("../img/arrow_right_256_ff002d.png");
        float: right;
        margin-left: 11px;
      }
    }


    .no-text {
      top: 29%;
      left: 8%;
      color: #82ca20;
      padding: 15px 31px 15px 29px;
      border: 3px solid #82ca20;
      transform: rotate(-3deg);
      opacity: 0;
      div {
        background-image: url("../img/arrow_left_256_82ca20.png");
        float: left;
        margin-right: 11px;
      }
    }


    .tooltip{
      display: none;
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 40px;
      text-align: center;
      background-color: #fff;
      padding: 0.9em;
      border-radius: 3px;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      &:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        bottom: -30px;
        border: 15px solid;
        margin-left: -15px;
        border-color: transparent #fff transparent transparent;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
      }
    }
  }


  &.bar-footer{
    z-index: 12;
    height: 70px;
    @include iphone5-and-lower{
      height: 60px;
    }
    .camera-button{
      position: absolute;
      left: 50%;
      bottom: -10px;
      margin-left: -45px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid #fff;
      text-align: center;
      background-color: #26292e;
      padding-bottom: 10px;
      color: #fff;
      .icon{
        font-size: 45px;
      }
      input[type=file]{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0px;
      }
      @include iphone5-and-lower{
        height: 86px;
        width: 86px;
        margin-left: -40px;
        bottom: -15px;
      }
      &[disabled]{
        background-color: #d4d4d5;
      }
    }

    .buttons.social {
      top: 0px;
      right: 18px;
      bottom: 0px;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
    }

    .social .circle {
      width: 2.5em;
      height: 2.5em;
      color: #ffffff;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;

      &.whatsapp {
        background: #82ca20;
        margin-right: 0.65em;
      }

      &.facebook {
        background: #43609c;
      }

      &:active {
        opacity: 0.5;
      }

      .icon {
        margin: auto;
        font-size: 1.6em;
        text-align: center;
      }
    }

    .stats {
      position: absolute;
      bottom: 0px;
      top: 0px;
      padding: 0.35em;
      display: flex;
      display: -webkit-flex;
      align-items: center;
      -webkit-align-items: center;
      .cup {
        width: 30px;
        height: 32px;
        margin-right: 0.5em;
      }
      .counters div {
        font-weight: 400;
      }
      .counters em {
        font-weight: 700;
      }
    }


  }
}