.page-introduction{
  .scroll, .slidebox, .slider-slides, .slider-slide, .intro-item{
    height: 100%;
  }
  .slidebox{
    .slider-pager{
      bottom: 25px;
      @include iphone4-and-lower{
        bottom: 15px;
      }
    }
    .intro-item{
      position: relative;
      padding-top: 45px;
      padding-bottom: 0px;
      .tip-text{
        position: absolute;
        top: 0px;
        padding: 40px 30px;
        text-align: center;
        line-height: 1.3;
        @include iphone4-and-lower{
          padding-top: 20px;
        }
      }
      .image{
        margin: 0px 15px;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .button.btn-start{
    display: none;
    position: absolute;
    bottom: 20px;
    width: 90%;
    left: 50%;
    margin-left: -45%;
    @include iphone4-and-lower{
      bottom: 10px;
    }
  }
}