.page-settings,
.page-settings-legal{
  .list{
    .item-icon-right .icon:last-child{
      color: #c7c7cc;
      font-size: 25px;
    }
  }
}
.page-settings{
  .info{
    max-width: 250px;
    display: block;
    text-align: center;
    margin: 2.5em auto;
    .profile-pic{
      width: 5.5em;
      height: 5.5em; 
    }
    .user-name{
      font-family: 'OpenSans-Bold';
      font-size: 1.5em;
      margin: 0.4em 0;
    }
    .change-profile{
      color: #192226;
      font-size: 0.9em;
    }
  }
  .list{
    margin: 0 2em;
    @include iphone5-and-lower{
      margin: 0 1em;
    }

    .item{
      border-left: none;
      border-right: none;
      &:first-child{
        border-top: none;
      }
      &.item-icon-left{
        padding-left: 50px;
        .icon{
          left: 5px;
          font-size: 37px;
        }
      }
    }
  }
}

.page-settings-legal{
  padding-top: 220px;
  padding-bottom: 107px;
  -webkit-align-items: center;
  @media all and (max-height: 568px){
    padding-top: 200px;
  }
  @media all and (max-height: 480px){
    padding-top: 160px;
  }
  .version-info{
    display: table;
    width: 100%;
    height: 100%;
    .inner{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    img{
      width: 45%;
    }
    span{
      display: block;
      color: #adadad;
      margin-top: 0.8em;
      @media all and (max-height: 500px){
        margin-top: 3px;
      }
    }
  }
  .list{
    position: absolute;
    width: 100%;
    margin: 0px;
  }
  .list.top{
    top: 60px;
    @media all and (max-height: 568px){
      top: 40px;
    }
    @media all and (max-height: 480px){
      top: 0px;
    }
  }
  .list.bottom{
    bottom: 0px;
    .item{
      text-align: center;
    }
  }
}

.page-settings-recommend{
  .tip{
    text-align: center;
    font-size: 1.05em;
    margin: 1em;
    line-height: 1.3;
  }
  .share-textbox{
    display: block;
    height: 160px;
    padding: 1em;
    width: 95%;
    margin: 0.5em auto;
    background-color: #eee;
    line-height: 1.5;
    font-size: 16px;
    border: 1px solid #c8c7cc;
    margin-top: 10px;
  }
  .shares{
    text-align: center;
    margin: 30px auto;
    width: 200px;
    .circle {
      width: 90px;
      height: 90px;
      line-height: 90px;
      color: #ffffff;
      display: inline-block;
      text-align: center;
      font-family: 'OpenSans-Bold';

      &.whatsapp {
        background: #82ca20;
        float: left;
      }

      &.sms {
        background: #474747;
        font-size: 23px;
        float: right;
      }

      &:active {
        opacity: 0.5;
      }

      .icon {
        margin: auto;
        font-size: 50px;
        text-align: center;
      }
    }
    @include iphone5-and-lower{
      width: 160px;
      .circle{
        width: 70px;
        height: 70px;
        line-height: 70px;
        .icon{
          font-size: 35px;
        }
        &.sms{
          font-size: 18px;
        }
      }
    }
  }
  .logo{
    opacity: 0.3;
    display: block;
    margin: 50px auto;
    width: 35%;
    
    @media all and (min-height: 580px){
      margin-top: 80px;
    }
  }
}

.page-toc, .page-privacy{
  padding: 2em;
  p{
    margin-bottom: 1.5em;
  }
}